@import "../../styles/colors";

.SaveArticle {
  position: relative;
  border-top: 1px $color-gray-light solid;
  padding-top: 20px;
  background-color: $color-white;
}

.SaveArticle__preview {
  transition: 150ms opacity;

  &.is-success {
    opacity: 0;
    pointer-events: none;
  }
}

.SaveArticle__preview-title {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 500;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.SaveArticle__preview-url {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $color-gray-dark;
  margin-top: 8px;
}

.SaveArticle__preview-footer {
  margin-top: 18px;
  border-top: 1px $color-gray-light solid;
  padding-top: 20px;
}

.SaveArticle__preview-footer .Button {
  width: 100%;
}

.SaveArticle__preview-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 8px;
  margin-bottom: 0;
  line-height: 1.5;
  color: $color-gray-darker;
}

.SaveArticle__warning {
  padding: 14px;
  background-color: $color-orange;
  color: $color-black;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 0;
}

.SaveArticle__error {
  padding: 14px;
  background-color: $color-red;
  color: $color-white;
  border-radius: 4px;
}

.SaveArticle__success {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 18px;
  text-align: center;
  background-color: $color-white;

  strong {
    color: $color-green;
    font-size: 18px;
    line-height: 1.5;
  }
}
