$color-white: #ffffff;
$color-black: #000000;
$color-tint: #037DE2;
$color-tint-dark: #004A87;
$color-gray-lightest: #eeeeee;
$color-gray-light: #e5e5e5;
$color-gray: #c5c5c5;
$color-gray-dark: #aaaaaa;
$color-gray-darker: #444444;
$color-orange: #ffc107;
$color-red: #E9110B;
$color-green: #03A87C;
