@import "../../styles/colors";

.LoginForm {
  display: flex;
  flex-direction: column;
}

.LoginForm__description {
  font-size: 18px;
  margin-bottom: 32px;
  text-align: center;
  display: block;
  margin-top: 8px;
}

.LoginForm-fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

.LoginForm-label,
.LoginForm-input {
  display: block;
}

.LoginForm-label {
  font-weight: 600;
  margin-bottom: 6px;
}

.LoginForm-input {
  padding: 10px;
  margin-bottom: 14px;
  font-size: 14px;
  height: 45px;
  border-radius: 4px;
  border: 1px $color-gray-light solid;
  width: 100%;
}

.LoginForm-button {
  font-size: 14px;
  width: 100%;
}

.LoginForm__footer {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: 1px $color-gray-lightest solid;
  padding-top: 24px;

  svg {
    margin-left: 6px;
    margin-right: 6px;
    width: 150px;
    height: auto;
  }
}

